.neodb-setting-textarea {
    width: 100%;
    min-height: 200px;
    font-family: monospace;
    font-size: 12px;
    resize: vertical;
}

.neodb-modal-textarea {
    width: 100%;
    min-height: 150px;
    font-family: monospace;
    font-size: 12px;
}

.debug-enabled {
    background-color: var(--text-error) !important;
}
